option_settings:
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance
  
  aws:ec2:instances:
    InstanceTypes: t2.micro
    
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 1

Resources:
  AWSEBAutoScalingLaunchTemplate:
    Type: AWS::EC2::LaunchTemplate
    Properties:
      LaunchTemplateData:
        InstanceType: t2.micro