Resources:
  AWSEBInstanceProfile:
    Type: AWS::IAM::InstanceProfile
    Properties:
      Path: "/"
      Roles: ["aws-elasticbeanstalk-ec2-role"]

option_settings:
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: !Ref AWSEBInstanceProfile
  aws:elasticbeanstalk:environment:
    ServiceRole: aws-elasticbeanstalk-service-role
    EnvironmentType: SingleInstance
  aws:ec2:instances:
    InstanceTypes: t2.micro